@import url('fonts/fonts.css');
*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body{
  background: linear-gradient(65deg,#fff 50%,#eaeaea 50%) no-repeat;
  background-attachment: scroll;
}


.header{
  display: flex;
  flex-direction: column;
  margin: 2vw;
}
.header__image{
  width: 10vw;
  
  margin-left: 3vw;
}
.header__text{
  margin-top: 2vw;

  font-family: "Raleway-Medium";
  font-size: 4.3vw;
  align-self: center;
}
.header__text--upper{
  text-transform: uppercase;
}
@media only screen and (max-width: 768px) {
  .header{
    margin: 8vw 5vw;
  }
  .header__image{
    width: 20vw;
    margin-left: 0;
  }
  .header__text{
    margin-top: 5vw;
    font-size: 5vw;
  }
}

.home{
  display: flex;
  justify-content: space-between;
  padding: 0 13.5vw;
}
.home__box{
  width: 30vw;
  margin-top: 1vw;
  margin-bottom: 7vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.home__title{
  font-family: "Raleway-Medium";
  font-size: 2vw;
  margin-bottom: 1.5vw;
}
.home__text{
  height: 8vw;
  display: flex;
  align-items: flex-start;
}
.home__desc{
  font-family: "Raleway-Light";
  font-size: 1.2vw;
  line-height: 1.6vw;
}
.home__video{
  width: 30vw;
  height: 16.9vw;
  margin: 2vw 0 0;
  align-self: center;
}
.home__button{
  margin: 2vw 0 0;
  padding: .5vw 1vw;
  align-self: center;
  background: #333438;
  color: #FFF;
  font-family: "Raleway-Medium";
  font-size: 1.5vw;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .1vw;
  box-shadow: .1vw .3vw 0 #656568;
  transition: .5s all;
}
.home__button:hover{
  background: #656568;
  box-shadow: .1vw .3vw 0 #333438;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .home{
    flex-direction: column;
    padding: 0 20vw;
  }
  .home__box{
    margin-bottom: 10vw; 
    width: 60vw;
  }
  .home__title{
    font-size: 4.8vw;
    margin-bottom: 5vw;
  }
  .home__text{
    height: auto;
  }
  .home__desc{
    font-size: 2.5vw;
    line-height: 3.5vw;
  }
  .home__video{
    width: 60vw;
    height: 33.75vw;
    margin: 5vw 0 0;
  }
  .home__button{
    margin: 5vw 0;
    padding: 3vw 10vw;
    font-size: 2.5vw;
    letter-spacing: .2vw;
    box-shadow: .5vw 1vw 0 #656568;
  }
}
@media only screen and (max-width: 576px) {
  .home{
    padding: 0 10vw;
  }
  .home__box{
    width: 80vw;
  }
  .home__title{
    font-size: 5.5vw;
    margin-bottom: 7vw;
  }
  .home__desc{
    font-size: 3.4vw;
    line-height: 4vw;
  }
  .home__video{
    width: 80vw;
    height: 45vw;
    margin: 7vw 0 0;
  }
  .home__button{
    margin: 7vw 0;
    padding: 3.5vw 12vw;
    font-size: 3vw;
    letter-spacing: .3vw;
  }
}